/* Empty. Add your own CSS if you like */
#myCanvas {
  /*border: 1px solid red;*/
  /*background-color: azure;*/
}

h2 {
  text-align: center;
}


#canvasContainer {
    position: relative;
    width: 300px;
}

#canvas {
    z-index: 1;
}

#prizePointer {
    position: absolute;
    left: 165px;
    top: 10px;
    z-index: 999;
}
